.Menus {
    position: relative;
    padding: 0px 10px 0px 10px;
    left: 5%;
    width: 90%;
    height: 100%;
    align-items: center;
}

@media ( max-width: 880px) { 
    .Menus {
        position: initial;
        margin: 0px 0px 0px 0%;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
    }
}