.Desserts {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}


.Divider {
    margin-left: 5%;    
    width: 90%;
    height: 1px;
    border-bottom: 2px dotted black;
}


@media ( max-width: 1100px) {
    .Desserts {
        text-align: center;
        align-items: center;
        font-size: 4vh;
    }
}