.Beverages {
    text-align: center;
    font-size: 8vh;
}

.Divider {
    margin-left: 5%;    
    width: 90%;
    height: 1px;
    border-bottom: 2px dotted black;
}

@media ( max-width: 500px) {
    .Beverages {
        text-align: center;
        align-items: center;
        font-size: 3vh;
    }
    
}