.Slider {
    
    position: relative;
    margin-top: 5px;
    width: 90%;
    height: 50%;
    min-height: 300px;
    left: 5%;
    right: 5%;
    background-color: white;
    align-items: center;
}

.Image {
    height: 100%;
    max-height: 500px;
    width: 100%;
    border-radius: 4px;
}
.SliderButton {
    position: absolute;
    opacity: 0.5;
    top: 10%;
    border: 1px solid grey;
    border-radius: 50%;
    width: 15px;
    height:15px;
    left: 2%;
}




@media ( max-width: 880px) {
    .Slider {
    
        position: relative;
        margin-top: 20px;
        width: 90%;
        height: 50%;
        min-height: 300px;
        left: 5%;
        right: 5%;
        background-color: white;
        align-items: center;
    }
    
    .Image {
        height: 100%;
        max-height: 500px;
        width: 100%;
        border-radius: 4px;
    }
    .SliderButton {
        position: absolute;
        opacity: 0.5;
        top: 5%;
        border: 1px solid grey;
        border-radius: 50%;
        width: 15px;
        height:15px;
        left: 2%;
    }
}