.Body {
    height: 100%;
    width: 100%;
    margin: 0;

}

/* @media ( max-width: 880px) {
    
} */


 @media ( max-width: 880px) {
    .Body {
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
}} 