

.FirstDiv {
    margin-top: 20px;
    height: 30vh;
    background-color: rgb(250, 225, 221);
    text-align: center;
}

.FirstDivWords {
    display: inline-block;
    font-size: 50px; 
    top: 40%;
    padding: 10px;
}
.FirstDivWordsTwo {
    display: inline-block;
    font-size: 50px; 
    top: 40%;
    padding: 10px;
}

.Divider {
    height: 0vh;

}

.SecondDiv {
    display: flex;
    height: 40vh;
    width: 100%;
    min-height: 200px;
    background-color: rgb(250, 205, 221);
}
.ImageOne {
    height: 220px;
    width: 220px;
    margin: 20px 0px 0px 20%;
}

.SecondDivWords {
    position: absolute;
    text-align: center;
    width: 290px;
    vertical-align: top;
    margin: 0px 0px 0px 0px;
    right: 20%;
}
.SecondDivTitle {
    font-size: 25px;
    font-weight: bold;
}
.SecondDivDescription {
    display: inline-block;
    font-size: 15px;
}



.ThirdDiv {
    display: flex;
    height: 40vh;
    width: 100%;
    min-height: 200px;
    background-color: rgb(250, 185, 221);
}
.ImageTwo {
    position: absolute;
    height: 220px;
    width: 220px;
    margin: 20px 0px 0px 0px;
    right: 23%;
}

.ThirdDivWords {
    position: absolute;
    text-align: center;
    width: 200px;
    vertical-align: top;
    margin: 20px 0px 0px 0px;
    left: 20%;
}
.ThirdDivTitle {
    font-size: 25px;
    font-weight: bold;
}
.ThirdDivDescription {
    display: inline-block;
    font-size: 15px;
}


@media ( max-width: 880px) {
    .FirstDiv {
        margin-top: 20px;
        height: 30vh;
        background-color: rgb(250, 225, 221);
        text-align: center;
    }
    
    .FirstDivWords {
        display: inline-block;
        font-size: 20vh;  
        top: 0%;
        padding: 10px;
        margin: -20px 0px 0px 0px;
    }
    .FirstDivWordsTwo {
        display: inline-block;
        font-size: 20vh;  
        top: 0%;
        padding: 10px;
        margin: -20px 0px 0px 0px;
    }
    
    .Divider {
        height: 0vh;
    
    }
    
    .SecondDiv {
        display: flex;
        height: 50vh;
        width: 100%;
        min-height: 200px;
        background-color: rgb(250, 205, 221);
    }
    .ImageOne {
        height: 40px;
        width: 40px;
        margin: 20px 0px 0px 10%;
    }
    
    .SecondDivWords {
        
        position: absolute;
        text-align: center;
        width: 400px;
        vertical-align: top;
        margin: 0px 0px 0px 0px;
         left: 30%;
    }
    .SecondDivTitle {
        font-size: 25px;
        font-weight: bold;
    }
    .SecondDivDescription {
        display: inline-block;
        font-size: 15px;
    }
    
    .ThirdDiv {
        display: flex;
        height: 50vh;
        width: 100%;
       
        min-height: 200px;
        background-color: rgb(250, 185, 221);
    }
    .ImageTwo {
        position: absolute;
        height: 40px;
        width: 40px;
        margin: 20px 0% 0px 0%;
        left: 10%;
    }
    
    .ThirdDivWords {
        position: initial;
        text-align: center;
        width: 400px;
        vertical-align: top;
        margin: 0px 0px 0px 30%;
        right: 0%;
    }
    .ThirdDivTitle {
        font-size: 25px;
        font-weight: bold;
    }
    .ThirdDivDescription {
        display: inline-block;
        font-size: 15px;
    }

}

@media ( max-width: 400px) { 
        
    .FirstDiv {
        margin-top: 20px;
        height: 20vh;
        background-color: rgb(250, 225, 221);
        text-align: center;
        
    }
    .FirstDivWords {
        display: inline-block;
        font-size: 7vh; 
        top: 40%;
        padding: 10px;
        margin: 0px 0px 0px 0px;
    }
    .FirstDivWordsTwo {
        display: inline-block;
        font-size: 7vh; 
        top: 40%;
        padding: 10px;
        margin: 0px 0px 0px 0px;
    }

    .SecondDivWords {
        
        position: absolute;
        text-align: center;
        width: 290px;
        vertical-align: top;
        margin: 0px 0px 0px 0px;
         left: 15%;
    }    

    .ThirdDivWords {
        position: initial;
        text-align: center;
        width: 290px;
        vertical-align: top;
        margin: 0px 0px 0px 15%;
        right: 0%;
    }
}