/* .FooterButton {
    height: 50px;
    width: 200px;
    border: none;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    background-color: white;
    position: relative;
    z-index: 0;
    border-bottom: 2px solid rgb(104, 20, 121);
}
.FooterButton:hover {
    transition: 0s;
    color: rgb(104, 20, 121);
    background: #fff;
}

.FooterButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
  }



.FooterButton::before {
    height: 52px;
    width: 200px;
}
  
.FooterButton::after {
    height: 52px;
    width: 200px;
    
}

.FooterButton::before, .FooterButton::after {
    position: absolute;
    background: white;
    z-index: -1;
    transition: 0.3s;
    content: '';
  }
  
.FooterButton:hover::before {
    width: 0px;
    background: #fff;
}
  
.FooterButton:hover::after {
    height: 0px;
    background: #fff;
} */
  
.FooterButton{
      display:block;
      float:left;
      position:relative;
      width: 118px;
      height:100px;
      text-align:center;
      border: none;
      background-color: white;
      font-weight: 900;
      line-height: 100px;
      left: 0%;
      margin: 30px 0px 0px 0px;
      outline: none;
}

/* this controls left and right somehow */
.FooterButton::before {
        transition: all 0.4s;  
        position:absolute;
        content:"";
        width: 99%;
        height:0%;
        top:50%;
        border-color:rgb(104, 20, 121);
        border-style:solid;
        border-width:0 1px;
        border-left: none;
        border-right: none;
}
      /* this controls top and bottom somehow */
.FooterButton::after{
        transition: all 0.4s;  
        position:absolute;
        content:"";
        width: 0px;
        height:100%;
        left: 50%;
        top: 0%;
        border-color:rgb(104, 20, 121);
        border-style:solid;
        border-width:2px 0;
        border-bottom: none;
}
      
.FooterButton:hover{
    cursor: pointer;
    color:rgb(104, 20, 121);
    transition: 0.2s;
    }   
        
.FooterButton:hover:after{
    width:124px;
    margin-left:-50%;
    border-color:rgb(104, 20, 121);
}
        
.FooterButton:hover:before{
    height:100px;
    top:0%;
    border-color:rgb(104, 20, 121);
}

@media ( max-width: 500px) { 

    .FooterButton{
        display:block;
        float:left;
        position:relative;
        width: 90px;
        height:100px;
        text-align:center;
        border: none;
        background-color: white;
        font-weight: 900;
        line-height: 100px;
        left: 0%;
        margin: 30px 0px 0px 0px;
        outline: none;
        font-size: 10px;
  }
  
  /* this controls left and right somehow */
  .FooterButton::before {
          transition: all 0.4s;  
          position:absolute;
          content:"";
          width: 99%;
          height:0%;
          top:50%;
          border-color:rgb(104, 20, 121);
          border-style:solid;
          border-width:0 1px;
          border-left: none;
          border-right: none;
  }
        /* this controls top and bottom somehow */
  .FooterButton::after{
          transition: all 0.4s;  
          position:absolute;
          content:"";
          width: 0px;
          height:100%;
          left: 50%;
          top: 0%;
          border-color:rgb(104, 20, 121);
          border-style:solid;
          border-width:2px 0;
          border-bottom: none;
  }
        
  .FooterButton:hover{
      cursor: pointer;
      color:rgb(104, 20, 121);
      transition: 0.2s;
      }   
          
  .FooterButton:hover:after{
      width:124px;
      margin-left:-50%;
      border-color:rgb(104, 20, 121);
  }
          
  .FooterButton:hover:before{
      height:100px;
      top:0%;
      border-color:rgb(104, 20, 121);
  }
}