.Logo {
    height: 100px;
    width: 175px;
    background-size: 100% 100%;
    transition: all 1s;
}

/* .Logo:hover {
    cursor: pointer;
    transition: all ease 1s;
    border-radius: 8px;
    background-image: url('/Images/logo-after.png');
} */

.Logo:hover {
    cursor: pointer;
    transition: all ease 1s;
    transform: scale(1.2);
}