.Appetizers {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}

.Entrees {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
}

.Divider {
    margin-left: 5%;    
    width: 90%;
    height: 1px;
    border-bottom: 2px dotted black;
}


@media ( max-width: 500px) {
    .Appetizers {
        text-align: center;
        align-items: center;
        font-size: 4vh;
    }
    .Entrees {
        text-align: center;
        align-items: center;
        font-size: 4vh;
    }
}